/*стиль всей страницы*/
body{
	margin:0;
	font-family: "Helvetica";
}

	/*шапка с картинкой*/
	div.header{ 
    	background: url(headerbg.png) 100% 100% no-repeat;
		background-size: cover;
		position: relative;
	}

	/*иерархия навигации по сайту*/
	/*вся строка с навигацией*/
	div.nav { 
		font-size:10pt;
		font-weight:600;
		text-decoration: none;
		color: #868686;
		margin-left:calc(20%);
	}

		/*общие стили для каждого элемента навигации*/
		div.nav_elem, div.nav_sep { 
			display:inline-block;
			margin-right:5px;
			vertical-align: middle;
		}

		/*стиль разделителя*/
		div.nav_sep{ 
			font-family: "Calibri";
			font-size: 13pt;
		}

		/*ссылки внутри навигации одинаковые, в.т.ч. посещенные*/
		div.nav_elem > a, div.nav_elem > a:visited { 
			text-decoration:none;
			color:inherit;
		}
		/*последний элемент не ссылка*/
		div.nav_elem:last-child{ 
			color: #000000;
		}

	/*блоки внутри табов*/
	div.inner_content{
		background-color: rgb(214, 211, 211);
		border: 1px solid #7c7c7c;
		margin: 10px calc(20%);
		color:#444444;
	}

		/*заголовки внутренних блоков*/
		div.block_header{
			font-size:14pt;
			font-weight:600;
			text-align: center;
			margin-top:5px;
			margin-bottom:5px;
		}

		/*форма поиска*/
		form.search{
			width:calc(65%);
			margin:0 auto;
		}

			input[type="text"]{}

			input[type="submit"]{}

			input[type="reset"]{}

