/*стиль всей страницы*/
body{
	margin:0;
	font-family: "Helvetica";
}

	/*шапка с картинкой*/
	div.header{ 
    	background: url(headerbg.png) 100% 100% no-repeat;
		background-size: cover;
		position: relative;
	}

	div.tab>a, div.a:visited{
		color:inherit;
		text-decoration: none;
	}

	/*иерархия навигации по сайту*/
	/*вся строка с навигацией*/
	div.nav { 
		font-size:10pt;
		font-weight:600;
		text-decoration: none;
		color: #868686;
		margin-left:calc(20%);
	}

		/*общие стили для каждого элемента навигации*/
		div.nav_elem, div.nav_sep { 
			display:inline-block;
			margin-right:5px;
			vertical-align: middle;
		}

		/*стиль разделителя*/
		div.nav_sep{ 
			font-family: "Calibri";
			font-size: 13pt;
		}

		/*ссылки внутри навигации одинаковые, в.т.ч. посещенные*/
		div.nav_elem > a, div.nav_elem > a:visited { 
			text-decoration:none;
			color:inherit;
		}
		/*последний элемент не ссылка*/
		div.nav_elem:last-child{ 
			color: #000000;
		}

	/*блоки внутри табов*/
	div.inner_content{
		margin: 20px calc(20%);
		color:#444444;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-top: 10px;
		height:auto;
		background-color: rgb(245, 245, 245);
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	}

		/*заголовки внутренних блоков*/
		div.block_header{
			font-size:14pt;
			font-weight:600;
			text-align: center;
			margin-top:5px;
			margin-bottom:5px;
		}

		/*форма поиска*/
		form.search{
			width:550px;
			height:40px;
			margin-left: auto;
			margin-right: auto;
			margin-top:10px;
			margin-bottom:20px;
			background: radial-gradient(farthest-corner, #ffffff, #ffffff, #f1f1f1, #dbdbdb);
			border-radius: 8px;
			border: solid 1px #949494;
		}

			input[type="text"]{
				border: none; /* Убираем рамку */
				outline: none; /* Убираем свечение в Chrome и Safari */
				-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
				width: 505px; /* Ширина поля */
				vertical-align: middle; /* Выравнивание по середине */
				font-size:15pt;
				margin-top: 5px;
				margin-bottom: 5px;
				margin-left:8px;
				color: #444444;
				height: 30px;
				float: left;
				background-color: rgba(0, 0, 0, 0);

			}

			input[name="search"]{
				width: 37px; /* Ширина кнопки */
				height: 40px; /* Высота кнопки */
				border: none; /* Убираем рамку */
				background: url(search_btn.svg) no-repeat 50% 50%; /* Параметры фона */
				padding:0;
				float:left;
				cursor:pointer;
			}

		/* категории */
		table.categories{
			table-layout: fixed;
			margin-top: 30px;
			margin-bottom: 30px;
			margin-left: auto;
			margin-right:auto;
			font-weight: 600;
		}

			td.category{
				width:120px;
				padding-right:20px;
				height:60px;
				vertical-align: top;
			}

			

			td.category>a, td.category>a:visited{
				color: #006d12;
				text-decoration: none;
			}

	div.footer{
		height:150px;
		background: url("footerbg.png") 50% 50% no-repeat;
		background-color: #ffffff;
		background-size: contain;
	}

